@model MobileShopping.entity.Mobile

@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm("Create", "Index", FormMethod.Post))
{
<table>
    <tr>
        <td>
            BrandName :
        </td>
        <td>
            @Html.TextBoxFor(Model => Model.BrandName)
        </td>
    </tr>
    <tr>
        <td>
            Id :
        </td>
        <td>
            @Html.TextBoxFor(Model => Model.Id)
        </td>
    </tr>
    <tr>
        <td>
            Model:
        </td>
        <td>
            @Html.TextBoxFor(Model => Model.Model)
        </td>
    </tr>
    <tr>
        <td>
            Color :
        </td>
        <td>
            @Html.TextBoxFor(Model => Model.Color)
        </td>
    </tr>
    <tr>
        <td>
            Price :
        </td>
        <td>
            @Html.TextBoxFor(Model => Model.Price)
        </td>
    </tr>
    <tr>
        <td>
            <input type="submit" />
        </td>
        <td>
            <a href="~/Index">Back</a>
        </td>
    </tr>
</table>
}
